*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}
body{
    background-color: rgb(230, 221, 221);
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    flex-direction: column;
    padding: 5px;
}
h2{
    font-size: 3rem;
}
.span{
    font-size: 5rem;
    padding-top: 20px ;
    font-weight: 500;
}
.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    

}
.dec{
    background-color: inherit;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 105px;
    padding: 3px;
    margin: 0 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    transition: all .5s;
}

.res{
    background-color: inherit;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 80px;
    padding: 3px;
    margin: 0 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    transition: all .5s;
}

.inc{
    background-color: inherit;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 105px;
    padding: 3px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 20px;
    border-radius: 8px;
    transition: all .5s;
}
.inc:hover{
    background-color: black;
    color: white;
    border-radius: 5px blue;
    border: 2px solid blue;
}
.dec:hover{
    background-color: black;
    color: white;
    border-radius: 5px blue;
    border: 2px solid blue;
}
.res:hover{
    background-color: black;
    color: white;
    border-radius: 5px blue;
    border: 2px solid blue;
}
@media   (max-width: 600px){
    .container{
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width:85%;
        flex-direction: column;
        padding: 5px;
        margin: 0 3px;
    }
    .inc{
        font-size: 1rem;
    }
    .dec{
        font-size: 1rem;
    }
   .res{
    font-size: 1rem;
   }
}