*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#msg{
color: #61b752;
margin-top: 10px;
display: block;
margin-right: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    
    
    background-image: url(image/rar.png);
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.main{
    width: 100%;
    height: 100vh;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

ul li a{
   
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
   
}



ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all .5s;
}
ul li a:hover::after{
    width: 100%;
}
.head-text{
    margin-top: 11%;
    font-size: 30px;
    margin-left: 130px;
}
.head-text h1{
    font-size: 50px;
     
}
.name{
    color: #ff004f;
}
/*_________ About___________ */
.abt{
    padding: 80px;
color: #ababab;
/* margin: 0 30px; */

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 365px;
    height: 400px;
  
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 3px;

}

.col-2{
    flex-basis: 60%;
    
  
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.links{
    margin: 20px 0 40px;
    display: flex;
    
}
.tab-link{
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all .5s;


}
.active::after{
    width: 50%;
}


.tab-content{
    display: none;
    
   
}
.tab-content ul li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.tab-content ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-content.act{
    display: block;
}
/*_____SRVICES_______*/
#services{
    padding: 30px 0;
}
.ser-lists{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 40px;
    margin-top: 40px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.titles{
  
    font-size: 2.5rem;
}
.sub-title{
    margin-left: 10px;
}
.sub-title1{
    margin-left: 130px;
}
.ser-lists div{
    background-color: #262626;
    padding: 40px;
    font-size: 300;
    border-radius: 10px;
    transition: all .5s;
}
.ser-lists div i{
    font-size: 50px;
    margin-bottom: 30px;

}

.ser-lists div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}

.ser-lists div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.ser-lists div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*_____MY WORK_______*/
.work-list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 40px;
    margin-top: 40px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}

.work img{
    width: 310px;
    display: block;
    border-radius: 10px;
    height: 380px;
    transition: all 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px ;
}
.layer a{
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px 0 auto;
    width: fit-content;
    border: 1PX solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
    /* margin-left: 400px; */
    
    
    
}
.btn:hover{
    background-color: #ff004f;
    
}
.btn3{
    display: block;
    margin: 2 0px 0 auto;
    width: fit-content;
    border: 1PX solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
    /* margin-left: 400px; */
    
    
    
}
.btn3:hover{
    background-color: #ff004f;
    
}
.cent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*________Contact________*/

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    /* padding: 10px; */
    margin-top: 25px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: all 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right{
    flex-basis: 60%;
}
.btn2{
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form textarea{
    height: 180px;
}
.btn3{
    display: inline-block;
    background-color: #ff004f;

}
.copyright{
    width: 100%;
    padding: 20px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav .fas{
    display: none;
}
nav .fa{
    display: none;

}
/* ________Media Query__________ */

@media   (max-width: 600px){
    #header{
        background-image: url(image/rar2.png);
        /* background-position: center; */
        


        

    }
    .copyright{
        font-size: 14px;
    }
    .head-text{
        margin-top: 15%;
        /* font-size: 30px; */
        margin-left: 25px;
    }
    .txt{
        color: #ff004f;
    }
    .head-text h1{
    
        font-size: 37px;
        /* margin-left: 0;
        padding-right: 20px;
        text-align: center; */
        color: #fff;
        

    }
    .head-text p {
        color: white;
        margin-top: 235px;
        font-size: 1.2rem;
        font-weight: 900;
         /* text-align: left; */
        /* margin-right: 190px;  */
        
    }
    .work-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

    }
    .work img{
        width: 250px;
    }
    .ser-lists{ 
        width: 250px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 67px;

    }
    .sr-list{
        width: 99%;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        margin-left: 80px;
        padding-left: 20px;
      
    }

    nav .fa{
        display: block;
        font-size: 25px;
        
    }
nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li{
    display: block;
    margin: 25px;

}
nav ul .fa{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.titles{
    font-size: 25px;
    text-align: center;
    margin-right: 33px;
}
/* .col-1{
    flex-basis: 35%;
    
   
} */
.col-1 img{
    
    width: 300px;
  height: 290px;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 28px;

}
.abt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    /* margin-right: 20px; */
    
 
    
    
}
.col-2 p{
    
    font-size: 1rem;
    text-size-adjust:inherit;
    margin-left: 2px;
    margin-top: 5px;
    
        
    
    
}
.text{
    width: 90%;
    text-align: justify;
}
.tab-content{
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.button button{
    width: 50%;
    /* justify-content: center;
    align-items: center;*/
    text-align: center; 
    
    
}
.sub-title1{
    margin-left: 17px;
}

}
