*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{

    background-image: url(frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;

}
#btn {
    position: absolute;
    top: 69%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    font-weight: 600;
    transition: all 500ms;
}

#btn:hover{
    background-color: white;
    color: black;
    
}

#main{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
width: 180px;
background: white;
color: black;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
border-radius: 5px;
box-shadow: 0 0 2px black;
padding: 10px;
animation-name: model;
animation-duration: 300ms;

}

#cloz-btn{
    
    font-size: 3rem;
    transition: all 300ms;
    
    
    
}

#cloz-btn:hover{
    cursor: pointer;
    font-size: 3rem;
color: red;


}

.modal-contain{ 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

@keyframes model {
    from {
        top: -300px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}


@media   (max-width: 600px){
    #btn{
        width: 80%;
        font-size: 1.5rem;
    }
}